*{
    padding: 0%;
    margin: 0%;
}

.contenedor{
    margin: 0 0 0 1em;
    font-family: 'Orbitron';

}
.pantalla{
    height: 50%;
    padding: 0;
    margin: 2em 0 0 0.5em;
    font-size: 2.5em;
    font-weight: 700;
    background-color: #968C94;
    border-width: 10px;
    border-style:inset;
    border-radius: 15px;
    color: black;
}

.botones button{
    margin-top: 4em;
    margin-bottom: 0%;

}

.boton1{
    background-color: #4CAF50;
    color: black;
    padding: 19px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 15px;
    border-width: 8px;
    border-style:inset;
    cursor: pointer;
}

.boton1:hover{
    background: #3B8A3E;
}


.boton2{
    background-color: #f44336;
    color: black;
    padding: 20px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 15px;
    border-width: 10px;
    border-width: 8px;
    border-style: inset;
    cursor: pointer;
}

.boton2:hover{
    background-color: #C03B30;
}
.boton3{
    background-color: #FFFF69;
    color: black;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 15px;
    border-width: 10px;
    border-width: 8px;
    border-style: inset;
    cursor: pointer;
}

.boton3:hover{
    background-color: #FFE83F;

}
